# Database config
NODE_ENV=development
DB_TYPE=postgres # postgres, mongodb, txt, duckdb
DB_SYNC=true

# ---------------- PostgreSQL ----------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# ---------------- MongoDB ----------------
# DB_HOST=localhost
# DB_PORT=27017
# DB_NAME=mydatabase

# ---------------- TXT ----------------
# DB_PATH=./data

# ---------------- DuckDB ----------------
# DB_PATH=./data



# cache config
CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_TTL=3600
CACHE_DB=0
CACHE_PASSWORD=
CACHE_PREFIX=magasinx:
CACHE_MAX_ITEMS=1000
CACHE_MAX_RETRIES=3
CACHE_READY_CHECK=true


#Encrypt config
CRYPTO_SECRET=
CRYPTO_IV=


#JWT config
JWT_SECRET= 
JWT_REFRESH_SECRET= 
JWT_EXPIRATION_TIME=1h
JWT_REFRESH_EXPIRATION_TIME=7d

#GMAIL NODEMAILER CONFIG
EMAIL_FROM=
GOOGLE_APP_PASSWORD=


# Super ADMIN Credentials
ADMIN_FIRSTNAME=
ADMIN_LASTNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_PHONENUMBER=